@page "/"

<h1>Hello, world!</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <NavLink class="nav-link active" href="/">
                Starters
            </NavLink>
        </div>
        <div class="col ">
            <NavLink class="nav-link active" href="/">
                Mains
            </NavLink>
        </div>
        <div class="col ">
            <NavLink class="nav-link active" href="/">
                Desserts
            </NavLink>
        </div>
        <div class="col ">
            <NavLink class="nav-link active" href="/">
                Drinks
            </NavLink>
        </div>
    </div>
</div>


<!--Starters-->
<MenuItemsList>
    <AddHere>
        @foreach (var item in menuList)
        {
            //even
            @if (@counter % 2 == 0)
            {
                ChangeToTrue();
                <CardMenuItem CardTitle="@item.Name" CardDesc="@item.Description" Image="@item.Image"></CardMenuItem>
            }
            else
            {
                ChangeToFalse();
            }
            IncrementCount();
        }
    </AddHere>
    <AddOtherHere>
        @if (@counter != 0)
        {
            ResetCount();
        }
        @foreach (var item in menuList)
        {
            //odd
            @if (@counter % 2 != 0)
            {
                <CardMenuItem CardTitle="@item.Name" CardDesc="@item.Description"></CardMenuItem>
            }
            IncrementCount();
        }
    </AddOtherHere>
</MenuItemsList>

<!--Mains-->

