<p>@MyNavigationManager.Uri</p>
<p>@pageName</p>

<MenuItemsList>
    <AddHere>
        @foreach (var item in menuList)
        {
            //even
            @if (@counter % 2 == 0)
            {
                ChangeToTrue();
                <MenuItemCard CardTitle="@item.Name" CardDesc="@item.Description" Image="@item.Image"></MenuItemCard>
                @*<CardMenuItem CardTitle="@item.Name" CardDesc="@item.Description" Image="@item.Image"></CardMenuItem>*@
            }
            else
            {
                ChangeToFalse();
            }
            IncrementCount();
        }
    </AddHere>
    <AddOtherHere>
        @if (@counter != 0)
        {
            ResetCount();
        }
        @foreach (var item in menuList)
        {
            //odd
            @if (@counter % 2 != 0)
            {
                <MenuItemCard CardTitle="@item.Name" CardDesc="@item.Description" Image="@item.Image"></MenuItemCard>
                @*<CardMenuItem CardTitle="@item.Name" CardDesc="@item.Description"></CardMenuItem>*@
            }
            IncrementCount();
        }
    </AddOtherHere>
</MenuItemsList>

